.note-btn {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.bg-peach {
  background: #fec973;
}

.bg-orange {
  background: #ff9b72;
}

.bg-lavender {
  background: #b493fe;
}

.bg-blue {
  background: #00d4ff;
}

.bg-green {
  background: #e4ef8f;
}



