.note-btn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.bg-peach {
    background: #FEC973;
}

.bg-orange {
    background: #FF9B72;
}

.bg-lavender {
    background: #B493FE;
}

.bg-blue {
    background: #00D4FF;
}

.bg-green {
    background: #E4EF8F;
}
