.notes-card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 328px;
  height: 280px;
  border-radius: 20px;
  border: 1px solid #e1c1c1;
  margin: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.card > p {
  flex-grow: 1;
  overflow-y: auto;
  max-height: 130px;
  font-size: 19px;
  margin: 0;
}

.time-update {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.time-update > p {
  font-style: italic;
  font-size: 1.1rem;
  margin: 0;
}

.icon {
  background: #000;
  gap: 20px;
  border-radius: 60%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.button{
  width: 150px;
  height: 40px;
  font-weight: 600;
}

img{
  position: absolute;
  top: -30px;
}