<div class="landing h-100">
  <div class="landing-header"><app-header /></div>
  <main class="landing-main mt-5">
    <section>
      <img src="Vector.png" alt="" class="position-absolute ">
      <div class="home-heading d-flex flex-column align-items-center">
        <h1 class="fw-bold text-center">Capture, organize, and access your ideas anywhere<br/>your ultimate note-taking companion!</h1>
      
      </div>
      <div class="home-paragraph d-flex flex-column justify-content-center align-items-center">
        <p class="fw-bold fs-5 text-center">Stay on top of your <span>thoughts</span> and <span>ideas</span> 
          with ease! Our note-taking app lets you <span>capture</span>, <span>organize</span>, and access <br/>your notes anytime, anywhere, so you can focus on what truly matters
        </p>

      </div>
    </section>
    <section class="get-started">
      <div class="d-flex justify-content-center">
        <button class="get-started-btn text-white bg-black p-3 rounded-4 fw-light w-[100px]">Get Stated</button>
      </div>

      <div class="cards">
        
       <div class="outer card1">
        <img src="pen3.svg" alt="">
        <div class="card">
          <p>Capture Your Ideas Instantly! Never lose a brilliant thought—save notes effortlessly on the go.</p>
        </div>
       </div>
       <div class="outer card2">
        <img src="folder.svg" alt="">
        <div class="card">
          <p>Organize Your Way! Streamline your ideas with folders, tags, and smart categorization.</p>
        </div>
       </div>
       <div class="outer card3">
        <img src="lock.svg" alt="">
        <div class="card">
          <p>Save and Manage Your Notes with Ease! Create an account to securely store, organize, and access your notes anytime, anywhere.</p>
        </div>
       </div>
      </div>
    </section>
  </main>
</div>