<div class="landing h-100">
  <div class="landing-header"><app-header /></div>
  <main class="landing-main">
    <div class="frame-5">
      <div class="frame-7">
        <div class="frame-12">
          <img class="vector" src="Vector.svg" />
          <div class="heading">
            Capture, organize, and access your ideas anywhere
          </div>
        </div>
        <div class="heading2">Your ultimate note-taking companion!</div>
      </div>
      <div class="subheading">
        <div class="sub-heading">
          <span>
            <span class="sub-heading-span">Stay on top of your</span>
            <span class="sub-heading-span2">thoughts</span>
            <span class="sub-heading-span3">and</span>
            <span class="sub-heading-span4">ideas</span>
            <span class="sub-heading-span5">
              with ease! Our note-taking app lets you
            </span>
            <span class="sub-heading-span6">capture</span>
            <span class="sub-heading-span7">,</span>
            <span class="sub-heading-span8">organize</span>
            <span class="sub-heading-span9">
              , and access your notes anytime, anywhere, so you can focus on what
              truly matters
            </span>
          </span>
        </div>
        <div class="frame-6">
          <div class="home-button-page" routerLink="/register">GET STARTED</div>
        </div>
      </div>
    </div>
    <div class="cards">
      <div class="card1">
        <div class="card-1"></div>
        <img class="pen-3" src="pen3.svg" />
        <div class="card-1-text">
          Capture Your Ideas Instantly!
          <br />
          Never lose a brilliant thought—save notes effortlessly on the go.
        </div>
      </div>
      <div class="card2">
        <div class="card-2"></div>
        <img class="clip-path-group" src="folder.svg" />
        <div class="card-2-text">
          Organize Your Way!
          <br />
          Streamline your ideas with folders, tags, and smart categorization.
        </div>
      </div>
      <div class="card3">
        <div class="card-3"></div>
        <img
          class="lock"
          src="lock.svg"
        />
        <div
          class="save-and-manage-your-notes-with-ease-create-an-account-to-securely-store-organize-and-access-your-notes-anytime-anywhere"
        >
          Save and Manage Your Notes with Ease!
          <br />
          Create an account to securely store, organize, and access your notes
          anytime, anywhere.
        </div>
      </div>
    </div>
    
    
    
    
  </main>
</div>